<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link href="{pboot:sitedomain}/m/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/m/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/js/autofontsize.min.js"></script>
<script src="{pboot:sitedomain}/m/js/jquery.js"></script>
<script src="{pboot:sitedomain}/m/js/clipboard.min.js"></script>
<script src="{pboot:sitedomain}/m/js/common.js"></script>
</head>
<body>
{include file=head.html}  
<!--位置开始-->
{include file=left.html}
<!--位置结束--> 
<!--单页内容开始-->
<section class="aboutPage">
  <div class="txtcon"> {content:content}
 </div>
</section>
<!--单页内容结束--> 
{include file=foot.html}
</body>
</html>