<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{pboot:sitetitle}</title>
<meta name="keywords" content="{pboot:sitekeywords}">
<meta name="description" content="{pboot:sitedescription}">
<meta name="author" content="www.adminbuy.cn K257" />
<link href="{pboot:sitedomain}/m/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/m/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/js/autofontsize.min.js"></script>
<script src="{pboot:sitedomain}/m/js/jquery.js"></script>
<script src="{pboot:sitedomain}/m/js/clipboard.min.js"></script>
<script src="{pboot:sitedomain}/m/js/common.js"></script>
</head>
<body>
{include file=head.html}
<link href="{pboot:sitedomain}/m/css/swiper.min.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/js/swiper.min.js"></script> 
<!--幻灯片大图开始-->
<section id="banner_main">
  <div id="banner" class="banner">
    <ul class="list clearfix">
      {pboot:slide gid=2 num=10}
      <li class="item"><a href="[slide:link]"><img src="[slide:src]" alt="[slide:title]"></a></li>
      {/pboot:slide}
    </ul>
    <div class="tip"></div>
  </div>
</section>
<!--幻灯片大图结束-->
<section class="index trans"> 
  <!--首页导航开始-->
  <section class="navlist">
    <ul class="list clearfix">
      <li><a href="{pboot:sitedomain}/">
        <h3>网站首页</h3>
        </a></li>
      {pboot:nav num=7 parent=0}
      <li><a href="[nav:link]" title="[nav:name]">
        <h3>[nav:name]</h3>
        </a></li>
      {/pboot:nav}
    </ul>
  </section>
  <!--首页导航结束--> 
  <!--产品中心开始--> 
  {pboot:sort scode=5}
  <div class="floor_1">
    <div class="index_title">
      <h3>[sort:name]</h3>
      <p></p>
    </div>
    <!--产品分类开始-->
    <dl class="clearfix">
      {pboot:nav parent={sort:tcode} parent=5 num=6}
      <dd><a href="[nav:link]" title="[nav:name]">[nav:name]</a></dd>
      {/pboot:nav}
    </dl>
    <!--产品分类结束-->
    <ul class="productlist clearfix">
      {pboot:list scode=[sort:scode] num=6 order=sorting}
      <li class="item"><a href="[list:link]" title="[list:title]">
        <figure><img src="[list:ico]" alt="[list:title]"></figure>
        <h3>[list:title]</h3>
        </a></li>
      {/pboot:list}
    </ul>
    <div class="more"><a href="[sort:link]">更多产品</a></div>
  </div>
  {/pboot:sort} 
  <!--产品中心结束--> 
  <!--技术优势开始-->
  <div class="floor_2">
    <div class="img">
      <p>我们庄严承诺</p>
      <h3>半年<b>包退</b>、一年<b>包修</b>、终身<b>服务</b></h3>
      <a href="tel:{pboot:companyphone}">
      <h4>{pboot:companyphone} </h4>
      </a></div>
    {pboot:sort scode=27}
    <div class="index_title">
      <h3>[sort:name]</h3>
      <p></p>
    </div>
    <ul>
      {pboot:list scode=[sort:scode] num=6 order=sorting}
      <li><img src="[list:ico]">
        <h3>[list:title]</h3>
        <span></span>
        <p>[list:content drophtml=1 dropblank=1 len=300]</p>
      </li>
      {/pboot:list}
    </ul>
    {/pboot:sort}
  </div>
  <!--技术优势结束--> 
  <!--小banner开始-->
  <div class="floor_3_main">
    <div class="floor_3">
      <h3>矿山智能装备研发制造的先行引导者<br>
        无人化智能化综合配套的厂商</h3>
      <a href="tel:{pboot:companyphone}">
      <h4>{pboot:companyphone} </h4>
      </a></div>
  </div>
  <!--小banner结束--> 
  <!--客户案例开始--> 
  {pboot:sort scode=12}
  <div class="floor_4">
    <div class="index_title">
      <h3>[sort:name]</h3>
      <p></p>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {pboot:list scode=[sort:scode] num=6 order=sorting}
        <div class="swiper-slide"><a href="[list:link]" title="[list:title]">
          <div class="img"><img src="[list:ico]" alt="[list:title]"></div>
          <h3>[list:title]</h3>
          </a></div>
        {/pboot:list} </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="more"><a href="[sort:link]">更多案例</a></div>
  </div>
  {/pboot:sort} 
  <!--客户案例结束--> 
  <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
            },
        });
</script> 
  <!--新闻资讯开始--> 
  {pboot:sort scode=9}
  <section class="floor_5_main">
    <div class="index_title">
      <h3>[sort:name]</h3>
      <p></p>
    </div>
    <div class="textlist">
      <ul class="list">
        {pboot:list scode=[sort:scode] num=5 order=sorting}
        <li><a href="[list:link]" title="[list:title]"><img src="[list:ico]" alt="[list:title]">
          <div class="tl"><em>[list:title]</em>
            <p>[list:description lencn=30]</p>
            <i>[list:date style=Y-m-d]</i></div>
          </a></li>
        {/pboot:list}
      </ul>
    </div>
    <div class="more"><a href="[sort:link]">更多新闻</a></div>
  </section>
  {/pboot:sort} 
  <!--新闻资讯结束--> 
</section>
<script src="{pboot:sitedomain}/m/js/touchslide.1.1.js"></script> 
{include file=foot.html}
</body>
</html>