<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link href="{pboot:sitedomain}/m/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/m/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/js/autofontsize.min.js"></script>
<script src="{pboot:sitedomain}/m/js/jquery.js"></script>
<script src="{pboot:sitedomain}/m/js/clipboard.min.js"></script>
<script src="{pboot:sitedomain}/m/js/common.js"></script>
</head>
<body>
{include file=head.html}  
<!--位置开始-->
{include file=left.html}
<!--位置结束--> 
<!--单页内容开始-->
<section class="aboutPage"> 
  <!--留言表单开始-->
  <ul class="login">
    <form class="msgForm form_book" action="{pboot:msgaction}" method="post">
      <li>
        <input type="text" name="contacts" id="name" maxlength="20" placeholder="姓名" class="login_input" />
      </li>
      <li>
        <input type="text" name="mobile" id="tel" maxlength="20" placeholder="手机号码" class="login_input">
      </li>
      <li>
        <textarea name="content" cols="" id="content" rows="" placeholder="咨询内容" class="login_textarea"></textarea>
      </li>
      <li>
        <input class="login_btn common_bg" type="submit" value="提   交" id="tj">
      </li>
    </form>
    <script>
		$(function(){
			$('#tj').click(function(){
				//alert(1)
				if($('#name').val()==''){alert('请输入您的姓名！'); $("#name").focus(); return false;}
				if ($("#tel").val() == "") { alert("请输入你的手机！"); $("#tel").focus(); return false; } 
				if (!$("#tel").val().match(/^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(17[0-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/)) { alert("手机号码格式不正确！"); $("#tel").focus(); return false;} 
				
				if($('#content').val()==''){alert('请输入留言内容！');return false;}
			})
		})
	</script>
  </ul>
  <!--留言表单结束--> 
</section>
<!--单页内容结束--> 
{include file=foot.html}
</body>
</html>