<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{content:title}-{pboot:sitetitle}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<link href="{pboot:sitedomain}/m/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/m/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/js/autofontsize.min.js"></script>
<script src="{pboot:sitedomain}/m/js/jquery.js"></script>
<script src="{pboot:sitedomain}/m/js/clipboard.min.js"></script>
<script src="{pboot:sitedomain}/m/js/common.js"></script>
</head>
<body>
{include file=head.html}  
<!--位置开始-->
{include file=left.html}
<!--位置结束--> 
<!--文章内容开始-->
<div class="showInfo">
  <article>
    <h1 class="title">{content:title}</h1>
    <aside class="mark"><span>发布日期：{content:date style=Y-m-d}</span><span>浏览次数：<i id="">{content:visits}</i></span></aside>
  </article>
  <div class="contxt"> {content:content}
 </div>
  <div class="reLink clearfix">
    <div class="prevLink fl">上一篇：{content:precontent}</div>
    <div class="nextLink fl">下一篇：{content:nextcontent}</div>
  </div>
</div>
<!--文章内容结束--> 
{include file=foot.html}
</body>
</html>