<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{content:title}-{pboot:sitetitle}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<link href="{pboot:sitedomain}/m/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/m/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/js/autofontsize.min.js"></script>
<script src="{pboot:sitedomain}/m/js/jquery.js"></script>
<script src="{pboot:sitedomain}/m/js/clipboard.min.js"></script>
<script src="{pboot:sitedomain}/m/js/common.js"></script>
</head>
<body>
{include file=head.html}  
<!--位置开始-->
{include file=left.html}
<!--位置结束--> 
<!--图片内容开始-->
<section class="content showInfo">
  <h1 class="showtit showtit2">{content:title}</h1>
  <!--组图开始-->
  <div id="zutu" class="zutu">
    <div class="bd">
      <ul>
        {pboot:pics num=10 id={content:id}}<li><img src="[pics:src]" alt=""/></li>{/pboot:pics}
      </ul>
    </div>
    <div class="hd nhd">
      <ul class="ax-tac">
      </ul>
    </div>
  </div>
  <script src="{pboot:sitedomain}/m/js/touchslide.1.1.js"></script> 
  <script>TouchSlide({slideCell:"#zutu",titCell:".hd ul",mainCell:".bd ul",effect:"leftLoop",autoPage:true,autoPlay:false});</script> 
  <!--组图结束-->
  <div class="showTab">
    <div class="title2">
      <h3>产品介绍</h3>
      <s></s></div>
  </div>
  <div class="showContxt">
    <div class="txtcon"> {content:content} </div>
  </div>
  <div class="clearfix"></div>
  <div class="reLink clearfix">
    <div class="prevLink fl">上一篇：{content:precontent}</div>
    <div class="nextLink fl">下一篇：{content:nextcontent}</div>
  </div>
</section>
<!--图片内容结束--> 
{include file=foot.html}
</body>
</html>