<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link href="{pboot:sitedomain}/m/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/m/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/js/autofontsize.min.js"></script>
<script src="{pboot:sitedomain}/m/js/jquery.js"></script>
<script src="{pboot:sitedomain}/m/js/clipboard.min.js"></script>
<script src="{pboot:sitedomain}/m/js/common.js"></script>
</head>
<body>
{include file=head.html}  
<!--位置开始-->
{include file=left.html}
<!--位置结束--> 
<!--产品列表开始-->
<section class="wrapper">
  <div class="gridlist">
    <ul class="list-loop list clearfix">
	 {pboot:list num=10 order=sorting}
      <li class="loop item"><a href="[list:link]" title="[list:title]">
        <figure><img src="[list:ico]" alt="[list:title]"></figure>
        <h3>[list:title]</h3>
        </a></li>{/pboot:list}
    </ul>
    {pboot:if({page:rows}>0)}
      <div class="pagebar">
        <div class="pagination">
          <a class="page-item page-link st" href="{page:pre}" title="上一页"><<</a>
          {page:numbar}
          <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
          <a class="page-item page-link st" href="{page:next}" title="下一页">>></a>
        </div>
      </div>	
    {else}
      <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
  </div>
</section>
<!--产品列表结束-->
{include file=foot.html}
</body>
</html>