<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>搜索结果 - {pboot:sitetitle}</title>
<meta name="keywords" content="{pboot:sitekeywords}">
<meta name="description" content="{pboot:sitedescription}">
<link href="{pboot:sitedomain}/m/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/m/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/js/autofontsize.min.js"></script>
<script src="{pboot:sitedomain}/m/js/jquery.js"></script>
<script src="{pboot:sitedomain}/m/js/clipboard.min.js"></script>
<script src="{pboot:sitedomain}/m/js/common.js"></script>
</head>
<body>
{include file=head.html}  
<!--位置开始-->
<section class="cateList"> <span class="goBack iconbef" id="goBack"></span>
  <h3>搜索页<s class="icon"></s></h3>
  <!--栏目分类开始-->
  <div class="box"> {pboot:nav num=15 parent={sort:tcode}} <a  href="[nav:link]" title="[nav:name]">[nav:name]</a> {/pboot:nav} </div>
  <!--栏目分类结束--> 
</section> 
<!--位置结束--> 
<!--文章列表开始-->
<section class="newsPage">
  <div class="list-loop list clearfix"> {pboot:search num=8 order=sorting}<a class="loop item clearfix" href="view.php?aid=[search:id]" title="[search:title]"><img class="img fl" src="[search:ico]" alt="[search:title]">
    <h3 class="tit">[search:title]</h3>
    <p>[search:description lencn=25]</p>
    <span class="time">时间：[search:date style=Y-m-d]</span></a>{/pboot:search} </div>
</section>
{pboot:if({page:rows}>0)}
  <div class="pagebar">
    <div class="pagination">
      <a class="page-item page-link st" href="{page:pre}" title="上一页"><<</a>
      {page:numbar}
      <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
      <a class="page-item page-link st" href="{page:next}" title="下一页">>></a>
    </div>
  </div>	
{else}
  <div class="tac text-secondary">本分类下无任何数据！</div>
{/pboot:if}
<!--文章列表结束--> 
{include file=foot.html}
</body>
</html>