<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<meta name="viewport" content="width=1380">
<link href="{pboot:sitedomain}/skin/css/aos.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/jquery.js"></script>
<script src="{pboot:sitedomain}/skin/js/jquery.superslide.2.1.1.js"></script>
<script src="{pboot:sitedomain}/skin/js/common.js"></script>
</head>
<body>
{include file=head.html}  
<!--内页大图开始-->
{pboot:sort scode={sort:tcode}}<div class="nybanner"><img src="[sort:pic]"/></div>{/pboot:sort}
<!--内页大图结束-->
<div class="bg_main">
  {include file=left.html}
  <!--文章列表开始-->
  <div class="news_ul">
    <ul class="clearfix">
      {pboot:list num=6 order=sorting}<li class="clearfix" aos="fade-up" aos-easing="ease" aos-duration="700" aos-delay="100"><a href="[list:link]" title="[list:title]"><span class="fl box1"><img src="[list:ico]" alt="[list:title]"></span><span class="fl box2">
        <h1>[list:title]</h1>
        <p>[list:description lencn=90]</p>
        <span>阅读量：[list:visits]</span></span><span class="right">
        <h3>[list:date style=m-d]</h3>
        <p>[list:date style=Y]</p>
        </span></a></li>{/pboot:list}
    </ul>
  </div>
  <!--文章列表结束--> 
  <!--分页样式-->
  {pboot:if({page:rows}>0)}
      <div class="pagebar">
        <div class="pagination">
          <a class="page-item page-link hidden-sm" href="{page:index}" title="首页">首页</a>
          <a class="page-item page-link st" href="{page:pre}" title="上一页"><<</a>
          {page:numbar}
          <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
          <a class="page-item page-link st" href="{page:next}" title="下一页">>></a>
          <a class="page-item page-link hidden-sm" href="{page:last}" title="尾页">尾页</a>
        </div>
      </div>	
    {else}
      <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
</div>
{include file=foot.html}
</body>
</html>